# things to exclude

__pycache__

# do not share the presumably copyrighted Parula Colormap by Mathworks Inc.
parula.py
colormap_parula.h

# exclude binaries and generated output
mandelbrot
solver
*.png
*.txt
